/*
    Student Name: Justin Lee
    Student Number: 8359325

*/


/* Root element Styling with arial font */

:root { 
    font: normal normal normal 20px/1.5 Arial, Helvetica, sans-serif;
    /*
    all color codes were googled for the colors I wanted to use
    these will be the varibles i will be using though out the assignment for the styling
    */
    
    --primary-color: #d52b1e;
    --secondary-color: #a71f15;
    --accent-color: #f8d7da;
    --text-color: #000000;
    --light-bg: #fff9f9;
    --border-radius: 0.3rem;
}

/*Body Styling*/

body {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 0.25rem solid var(--primary-color);
    background-color: var(--light-bg);
    /*The color is just to ensure that my text is black*/
    color: var(--text-color)
}

/*This is the header styling wth a gradient*/
header {
    background-color: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color:white;
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    /* used numbers to get the black i wanted for the shawdow */
    box-shadow: 0 0.1rem 0.3 rgba(0,0,0,0);
}

/*This is for the main content area*/

main{
    width: 67%;
    float: left;
    padding: 0.25rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0);
}

/*This is for the sidebar*/